/*  Christian Anderson
    4/14/2021
*/


#header {
    height: 11%;
    margin: 1%;
    width: 98%;
    position: relative;
}

table {
    width: 100%;
    height: 90%;
}

tr {
    width: 100%;
    padding: 0;
    margin: 0;
}

td {
    width: 17.5%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    border-radius: 30px 30px 0 0;
}

th {
    width: 30%;
    padding: 0 0 0 .5%;
    margin: 0;
    text-align: left;
    vertical-align: bottom;
}

div.tabs {
    background-color: #455c69ff;
    width: 93%;
    margin: 0 auto -3px auto;
    text-align: center;
    vertical-align: bottom;
    border-radius: 30px 30px 0 0;
    padding: 3% 0 0 0;
}

span {
    background-color: #455c69ff;
    font-size: 400%;
    margin: 0;
    padding: 10px 30px 4px 30px;
    border-radius: 30px 30px 0 0;
    color: white;
    font-weight: normal;
}

a {
    font-size: 400%;
    text-decoration: none;
    color: white;
}

a:active {
    color: #18262e;
}

div.tabs:active {
    background-color: #67e8c1ff;
}

div#bar {
    height: 10%;
    width: 100%;
    border-radius: 300px;

    background-color: #67e8c1ff;
}


#content {
    background-color: #18262e;
    height: 83%;
    margin: 1%;
}

iframe {
    border: none;
    height: 100%;
    width: 90%;
    margin: 0 5%;
}